---
layout: page
titles:
  # @start locale config
  en      : &EN       Sudoku
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  数独
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  數獨
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       스도쿠
  ko-KR   : *KO
  fr      : &FR       Sudoku
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false
---

<div class="layout--soduku">
  <center>
    <iframe src="https://dkmgames.com/Sudoku/sudplaywin.htm"
            width="600" height="600"
            frameborder="0" name="soduku"
            scrolling="auto">
    </iframe>
  </center>
</div>

{{ content }}
